{{> commonUpperTemplate }}

          <!--Section title-->
          <h1 class="h3 mb-1 text-gray-800">Orders List</h1>
          <!-- End Section title -->

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
              <li><span>Proof of Concept of Web development</span></li>
          </ul> 
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

        
          <ul>
            {{#orders}}
            <li>
              <a href="show_order/{{id}}">{{title}}</a><br>
            </li>
            {{/orders}}    
          </ul>
            {{^orders}}
            <p>No orders to show yet</p>
            {{/orders}}
              
              
        </div>
        <!-- /.container-fluid (End page content) -->

      </div>
      <!-- End of Main Content -->

{{> commonBottonTemplate }}
      