{{> commonUpperTemplate }}

          <!--Section title-->
          <h1 class="h3 mb-1 text-gray-800">Order Details</h1>
          <!-- End Section title -->

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
              <li><span>Proof of Concept of Web development</span></li>
          </ul> 
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

 		<div class="dropdown mb-4">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Edit Order
            </button>
            <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
              <a class="dropdown-item" href="/check_items_order_form/{{order.id}}"><i class="fas fa-check"></i>Check Items</a>
              <a class="dropdown-item" href="/modify_order_form/{{order.id}}"><i class="fas fa-edit"></i>Modify Items</a>
              <a class="dropdown-item" href="#" onclick="deleteOrderConfirmation('/delete_order/{{order.id}}')"><i class="fas fa-trash"></i> Delete </a>
            </div>
        </div>

        
        	<h1 class="h3 mb-1 text-gray-800">{{order.title}}</h1>
			<ol>
				{{#order.items}}
				<li>{{#crossed}}
  						<s>{{name}}</s>
					{{/crossed}}
					{{^crossed}}
  						{{name}}
					{{/crossed}}
				</li>
				{{/order.items}}
			</ol>
	
	
			{{^order.items}}
				<p>No items yet</p>
			{{/order.items}}
    
 			</div>
        <!-- /.container-fluid (End page content) -->

      </div>
      <!-- End of Main Content -->

{{> commonBottonTemplate }}