<html>
<head>
	<title>Simple Shop</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
	<link href="/css/bootstrap.css" rel="stylesheet" />
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	
</head>
<body>
	<h1>Title: {{order.title}}</h1>
	<ol>
		{{#order.items}}
			<li>{{#crossed}}
  					<s>{{name}}</s>
				{{/crossed}}
				{{^crossed}}
  					{{name}}
				{{/crossed}}

			</li>
		{{/order.items}}
		
	</ol>
	
	<form action="/delete_order/{{order.id}}" method="get">
    	<input type="submit" value="Delete Order" />
	</form>
	
	{{^order.items}}
		<p>No items yet</p>
	{{/order.items}}
	<a href="/">Return</a>
</body>
</html>