{{> commonUpperTemplate }}

          <!--Section title-->
          <h1 class="h3 mb-1 text-gray-800">Order Details</h1>
          <!-- End Section title -->

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
              <li><span>Proof of Concept of Web development</span></li>
          </ul> 
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

        
        	<h1 class="h3 mb-1 text-gray-800">{{order.title}}</h1>
			<ol>
				{{#order.items}}
				<li>{{#crossed}}
  						<s>{{name}}</s>
					{{/crossed}}
					{{^crossed}}
  						{{name}}
					{{/crossed}}
				</li>
				{{/order.items}}
			</ol>
	
	
			{{^order.items}}
				<p>No items yet</p>
			{{/order.items}}
    
 			<button class="btn btn-danger btn-icon-split" onclick="deleteOrderConfirmation('/delete_order/{{order.id}}')">
        		<span class="icon text-white-50">
          			<i class="fas fa-trash"></i>
        		</span>
        		<span class="text">Delete this Order</span>
      		</button>   
   		
        </div>
        <!-- /.container-fluid (End page content) -->

      </div>
      <!-- End of Main Content -->

{{> commonBottonTemplate }}