{{> commonUpperTemplate }}

          <!--Section title-->
          <h1 class="h3 mb-1 text-gray-800">Success</h1>
          <!-- End Section title -->

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
              <li><span>Proof of Concept of Web development</span></li>
          </ul> 
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Success Text -->
          <div class="text-center">
            <div class="error mx-auto" data-text="Done!">Done</div>
            <p class="text-gray-500 mb-0">Changes successfully saved!</p>
            <a href="/">&larr; Back to Orders</a>
          </div>
         
        </div>
        <!-- /.container-fluid (End page content) -->

      </div>
      <!-- End of Main Content -->

 {{> commonBottonTemplate }}